<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.copgvd.xposed">

    <application
        android:allowBackup="false"
        android:label="COPG-VD Spoof"
        android:supportsRtl="true">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="COPG-VD Device Spoofing - Hooks all apps for device identity spoofing" />
        <meta-data android:name="xposedminversion" android:value="93" />

    </application>
</manifest>
